<a href="https://colab.research.google.com/github/IsauraRs/Data-Science-BEDU/blob/master/M%C3%B3dulo2/Python/Sesi%C3%B3n5/Reto5_S05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Reto 5: Limpiando un dataset

### 1. Objetivos:
    - Aplicar todo lo que aprendimos el día de hoy a un dataset real
 
---
    
### 2. Desarrollo:

In [ ]:

from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

#### a) Limpieza de datos en el mundo real

Hasta ahora hemos estado realizando ejercicios con datasets dummy (falsos). Ahora vamos a aplicar todo lo que hemos aprendido el día de hoy a un dataset real.

El dataset se encuentra en la carpeta [Datasets](../../Datasets/Readme.md) en la raíz del repositorio. El nombre el dataset es 'melbourne_housing-raw.csv'.

Lee el dataset usando pandas y realiza las siguientes tareas:

1. Ve a este [link](https://www.kaggle.com/anthonypino/melbourne-housing-market) para conocer más sobre el dataset y los datos que contiene.
2. Explora tu dataset para entender su estructura
3. Identifica los `NaNs` en el dataset y dónde se encuentran
4. Elimina los `NaNs` de tu dataset
5. Resetea tu índice para que sea compatible con el nuevo dataset
6. Cambia los nombres de las columnas para que tengan consistencia y no haya errores ortográficos
7. Realiza agregaciones (min, man, mean, etc) de las siguientes filas para conocer mejor la distribución de tus datos:
    a) Price
    b) Distance
    c) Landsize
    
Si tienes dudas en algún momento, por favor pídele a la experta que te oriente. Todas las tareas que hay que realizar ya las hemos hecho en otros retos; puedes ir a revisar esos otros ejercicios para recordar.

¡Mucha suerte!

In [ ]:
import pandas as pd
import numpy as np

housing = pd.read_csv("/content/drive/MyDrive/Datasets/melbourne_housing-raw.csv", sep = ',')

In [ ]:
housing.head()

       Suburb             Address  ...             Regionname Propertycount
0  Abbotsford       68 Studley St  ...  Northern Metropolitan        4019.0
1  Abbotsford        85 Turner St  ...  Northern Metropolitan        4019.0
2  Abbotsford     25 Bloomburg St  ...  Northern Metropolitan        4019.0
3  Abbotsford  18/659 Victoria St  ...  Northern Metropolitan        4019.0
4  Abbotsford        5 Charles St  ...  Northern Metropolitan        4019.0

[5 rows x 21 columns]

In [ ]:
housing_copy = housing.copy()
housing_copy.isna()

       Suburb  Address  Rooms  ...  Longtitude  Regionname  Propertycount
0       False    False  False  ...       False       False          False
1       False    False  False  ...       False       False          False
2       False    False  False  ...       False       False          False
3       False    False  False  ...       False       False          False
4       False    False  False  ...       False       False          False
...       ...      ...    ...  ...         ...         ...            ...
19735   False    False  False  ...       False       False          False
19736   False    False  False  ...       False       False          False
19737   False    False  False  ...       False       False          False
19738   False    False  False  ...       False       False          False
19739   False    False  False  ...       False       False          False

[19740 rows x 21 columns]

In [ ]:
#housing_copy = housing_copy.dropna(axis = 1, how = "any")

In [ ]:
housing_copy = housing_copy.dropna(axis = 0, how = "any")

In [ ]:
housing_copy

             Suburb               Address  ...             Regionname Propertycount
2        Abbotsford       25 Bloomburg St  ...  Northern Metropolitan        4019.0
4        Abbotsford          5 Charles St  ...  Northern Metropolitan        4019.0
6        Abbotsford           55a Park St  ...  Northern Metropolitan        4019.0
11       Abbotsford          124 Yarra St  ...  Northern Metropolitan        4019.0
14       Abbotsford         98 Charles St  ...  Northern Metropolitan        4019.0
...             ...                   ...  ...                    ...           ...
19731    Whittlesea         30 Sherwin St  ...      Northern Victoria        2170.0
19734  Williamstown           87 Pasco St  ...   Western Metropolitan        6380.0
19737    Yarraville           2 Adeney St  ...   Western Metropolitan        6543.0
19738    Yarraville       54 Pentland Pde  ...   Western Metropolitan        6543.0
19739    Yarraville  10/127 Somerville Rd  ...   Western Metropolitan        6543.0

[6050 rows x 21 columns]

In [ ]:
housing_copy[]

KeyError: ignored

In [ ]:
housing_copy

             Suburb               Address  ...             Regionname Propertycount
2        Abbotsford       25 Bloomburg St  ...  Northern Metropolitan        4019.0
4        Abbotsford          5 Charles St  ...  Northern Metropolitan        4019.0
6        Abbotsford           55a Park St  ...  Northern Metropolitan        4019.0
11       Abbotsford          124 Yarra St  ...  Northern Metropolitan        4019.0
14       Abbotsford         98 Charles St  ...  Northern Metropolitan        4019.0
...             ...                   ...  ...                    ...           ...
19731    Whittlesea         30 Sherwin St  ...      Northern Victoria        2170.0
19734  Williamstown           87 Pasco St  ...   Western Metropolitan        6380.0
19737    Yarraville           2 Adeney St  ...   Western Metropolitan        6543.0
19738    Yarraville       54 Pentland Pde  ...   Western Metropolitan        6543.0
19739    Yarraville  10/127 Somerville Rd  ...   Western Metropolitan        6543.0

[6050 rows x 21 columns]

In [ ]:
np.min(housing_copy["Price"])
np.max(housing_copy["Price"])

9000000.0